$icon-font-path: '../../static/fonts/bootstrap/';
$fa-font-path:   '../../static/fonts/font-awesome/';
$wi-path: '../../static/fonts/weather-icons/';

// Custom variables
$ucf-header-height: 50px;

$black: #000 !default;
$white: #fff !default;
$ucf-gold: #ffc904 !default;
$ucf-gold-light: #ffeb9b !default;
$ucf-gold-lighter: #fdf9e8 !default;
$ucf-gold-dark: #b18e00 !default;
$ucf-gold-darker: #a68500 !default;
$ucf-gold-darkest: #786000 !default;
$ucf-metal-gold: #c90 !default;
$ucf-athletics-gold: #bc9a36 !default;
$ucf-athletics-gold-light: #eee6cd !default;
$footer-gray: #3e3e3e !default;
$footer-gray-light: #d4d4d4 !default;
