// Variable overrides
@import 'variables';


// Import vendor assets
// @import '../../src/components/bootstrap-sass-official/assets/stylesheets/bootstrap';
@import '../../bower_components/ucf-athena-framework/src/scss/framework';
@import '../../src/components/font-awesome/scss/font-awesome';
@import '../../src/components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css';

@import 'mixins';

$light-gray: #f9f9f9;

body {
  //background: gold;
}

.navbar-custom {
  a:link, a:visited {
    color: #000;
  }
  a:hover {
    color: #fff;
    background: #000
  }
}

.jumbotron {
  margin-bottom: 0;

  &.jumbotron-background {
    background: transparent;
    position: relative;
    color: $white;
  }
}

.jumbotron-background {
  a:link, a:visited {
    color: $white;
  }
}

.login-header {
  color: $ucf-gold;
  padding: 0 0 .75em .75em;
}

.login-form-container {
  border: 1px solid rgba(225, 225, 225, 0.35);
  padding: 1.5em 2em;
  margin-bottom: 2em;

  .form-control {
    font-family: 'Georgia';
    font-size: 24px;
    color: $black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .login-form-label {
    font-weight: 500;
    color: $ucf-gold;
  }
}

.login-form-links,
.login-small-text {
  font-size: 12px;

  a:link {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none;
  }
}

.login-top-links {
  a {
    font-weight: 600;
  }
}

.login-small-text {
  padding: 0 2.75em;
}

.login-top-links li + li a {
  border-left: 1px solid rgba(255, 204, 0, 0.65);
}

// .nav-item .nav-link {
//   margin-top: 28px;
// }

.nav-item-last {
  position: relative;
  right: inherit;

  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
  }
}

.main-choices {
  background: $light-gray;

  li {
    color: $ucf-gold;
    text-decoration: none;
    position: relative;
  }

  a:link, a:visited {
    color: $black;
    font-weight: 500px;
    text-decoration: none;
    padding: 2em;
    padding-top: calc(2em + 35px);

    .link-text {
      display: block;
      text-align: center;
      position: relative;
      font-weight: 500;

      &:after {
        bottom: 0;
        content: '';
        display: block;
        height: 3px;
        min-width: 2rem;
        position: absolute;
        background: $ucf-gold;
        width: 100%;
      }
    }
  }
}

.icon-fa {
  position: relative;
}

.icon-fa:before {
  content: "\f109";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #000;
  font-size: 28px;
  padding-right: .5em;
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
}

.icon-search:before {
  content: "\f002";
}

.icon-list:before {
  content: "\f03a";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-laptop:before {
  content: "\f109";
  font-size: 32px;
}

.icon-grid:before {
  content: "\f00a";
}

.icon-cap:before {
  content: "\f19d";
}

.icon-book:before {
  content: "\f02d";
}

.icon-parking:before {
  content: "\f1b9";
  font-size: 32px;
}


.content-box-dark {
    a:link, a:visited {
    color: $white;
  }


}

.nav-grid {
  .nav-item {
    padding: 3em 0;
  }
}

.content-box-dark .icon-fa:before {
  color: $ucf-gold;
}


.link-ankle {
  background: $black;
  color: $white;
  padding: 4rem;

  a:link, a:visited {
    color: $white;
  }

  .ankle-header {
    font-size: 16px;
    font-weight: 500;
  }

  .bordered-content {
    border-left: solid 1px #333;
    border-right: solid 1px #333;
    padding-left: 2rem;
    margin-left: -2rem;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {

    padding-top: 0.35em;
    }
  }
}

.content-boxes {
  padding: 3em 0 2em 0;
}

.content-box {
  padding: 2em;
  background-color: #f9f9f9;

  &.content-box-primary {
    background-color: $ucf-gold;
  }

  &.content-box-promo {
    background-repeat: no-repeat;
  }

  &.content-box-dark {
    background: $black;
    color: $white;
  }

  .content-box-header {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: solid 1px #cccccc;
  }

}

.content-box-promo-think30 {
  background-image:url('../img/think-30-promo-bg.png');
  background-position: 0 6em;
  overflow: auto;

  .content-box-promo-text {
    width: 50%;
    font-size: 14px;
    float: right;
  }
}